* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.detail-container {
  margin: 0;
  padding: 0;
}

.img1 {
  margin-bottom: 32px;
}

.img2 {
  margin-top: 60px;
  margin-bottom: 32px;
}

.img3 {
  margin-top: 60px;
  margin-bottom: 40px;
}