* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.detail-container {
  margin: 0;
  padding: 0;
}

.img1 {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 24px;
}

.img2 {
  margin-top: 64px;
  margin-bottom: 20px;
}

.img3 {
  margin-top: 64px;
  margin-bottom: 20px;
}